:root {
  /* Text-color */
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --light-text-color: #ffffff;
  --primary-light-color: rgba(255, 255, 255, 0.6);
  /* background-color */
  --accent-color: #2196f3;
  --background-color: #2f303a;
  --background-gray: #f5f4fa;
  /* logo-color */
  --logo-color-gray: #afb1b8;
}
